<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Here is your Secret Santa <%= @participant.name %>!</h1>
<h3><%= @match.name %></h3>
<p>Remember to keep this a secret!</p>
</body>
</html>
