body {
  background-color: lightgray;
}


.jumbotron{
  opacity: 0.95;
}
.get-started{
  z-index: 1000 !important;
}

#canvas {
  z-index: -1 !important;
}

.navbar {
  margin-bottom: 0px;
}
.santa-match {
  margin-top: 0.5em;
}

#canvas {
  position:absolute;top:0;left:0;
}
